$primary_color: #7c41c0;
$primary_color_ton2: #6722b5;
$secondary_color: #19082d;
$orange_color: #ff7425;

$white_color: #fff;
$black_color: #000;
$grey_color: #3e3e3e;
$grey_color_ton2: #d2d2d5;

$default_font_family: "Poppins", sans-serif;
